<html>
<head>
<title>Bookmark Manager</title>
</head>

<body>
<header>

<h1>Bookmark Manager</h1>

<nav>
<ul>
 <li><a href="/users/new">Sign Up</a></li>
 <li><a href="">Sign In</a></li>
</ul>
</nav>

</header>

<section>
<% if current_user %>
Welcome <%= current_user.name %>
<% end %>

<%= yield %>
</section>

</body>
</html>
